<div class="nav">
  <div class="nav-rogo mt-3">
    <%= link_to "Proposal Documents.", root_path, class: "rogo" %>
  </div>
  <% if user_signed_in? %>
    <ul class="list-right">
      <li class="mt-5 mx-3">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-log" %>
      </li>
      <li class="mt-5 mx-3">
        <%= link_to "#{current_user.name}", "#", class: "user-log" %>
      </li>
    </ul>
  <% else %>
    <ul class="list-right">
      <li class="mt-5 mx-3">
        <%= link_to "ログイン", new_user_session_path, class: "user-log" %>
      </li>
      <li class="mt-5 mx-3">
        <%= link_to "新規登録", new_user_registration_path, class: "user-log" %>
      </li>
    </ul>
  <% end %>
</div>