<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      法人営業部 第3チーム
    </div>
    <div class="col-md-6 mt-3">
      作成者：<%= @proposal.users[0].name%> さん
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 mt-3 show-header1">
      <table class="mt-3 table table-bordered">
        <tbody>
          <tr>
            <td class="col-3 check-box">
              <% if @proposal.users[1] %>
                <%= @proposal.users[1].position.name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[2] %>
                <%= @proposal.users[2].position.name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[3] %>
                <%= @proposal.users[3].position.name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[4] %>
                <%= @proposal.users[4].position.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="col-3 check-box">
              <% if @proposal.users[1] %>
                <%= @proposal.users[1].name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[2] %>
                <%= @proposal.users[2].name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[3] %>
                <%= @proposal.users[3].name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[4] %>
                <%= @proposal.users[4].name %></td>
              <% end %>
            </tr>
          <tr>
            <% if @proposal.users[1].liked_by?(@proposal.id) %>
              <td class="col-3 check-box">完了</td>
            <% else %>
              <td class="col-3 check-box1">未</td>
            <% end %>
            <% if @proposal.users[2].liked_by?(@proposal.id) %>
              <td class="col-3 check-box">完了</td>
            <% else %>
              <td class="col-3 check-box1">未</td>
            <% end %>
            <% if @proposal.users[3].liked_by?(@proposal.id) %>
              <td class="col-3 check-box">完了</td>
            <% else %>
              <td class="col-3 check-box1">未</td>
            <% end %>
            <% if @proposal.users[4].liked_by?(@proposal.id) %>
              <td class="col-3 check-box">完了</td>
            <% else %>
              <td class="col-3 check-box1">未</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7 show-header2">
      <% if user_signed_in? && current_user.id == @proposal.users[0].id %>
        <button type="button" class="mx-2 btn btn-secondary"><%= link_to "編集", edit_proposal_path, class: "user-btn" %></button>
        <button type="button" class="mx-2 btn btn-secondary"><%= link_to '削除', proposal_path(@proposal.id), method: :delete, class: "user-btn" %></button>
      <% end %>
      <% if user_signed_in? && @proposal.users.include?(current_user) && @proposal.users[0].id != current_user.id %>
        <% if current_user.liked_by?(@proposal.id) %>
          <button type="button" class="mx-2 btn btn-warning"><%= link_to "確認取消し", destroy_like_path(@proposal), method: :DELETE, class: "user-btn1" %></button>
        <% else %>
          <button type="button" class="mx-2 btn btn-warning"><%= link_to "確認済み", create_like_path(@proposal), method: :POST, class: "user-btn1" %></button>
        <% end %>
      <% end %>
      <button type="button" class="mx-2 btn btn-outline-info"><%= link_to "戻る", root_path, class: "user-btn" %></button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">提案書詳細
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="detail-title">タイトル：</td>
            <td class="detail-value"><%= @proposal.title %></td>
          </tr>
          <tr>
            <td class="detail-title">内容：</td>
            <td class="detail-value"><%= @proposal.detail %></td>
          </tr>
          <tr>
            <td class="detail-title">期間：</td>
            <td class="detail-value"><%= @proposal.term_start.strftime('%Y年%m月%d日') %>  -  <%= @proposal.term_end.strftime('%Y年%m月%d日') %></td>
          </tr>
          <tr>
            <td class="detail-title">対象者：</td>
            <td class="detail-value"><%= @proposal.target_group %></td>
          </tr>
          <tr>
            <td class="detail-title">目標：</td>
            <td class="detail-value"><%= @proposal.numeric %></td>
          </tr>
          <tr>
            <td class="detail-title">予算：</td>
            <td class="detail-value"><%= @proposal.budget.to_s(:delimited) %>円（税抜）</td>
          </tr>
          <tr>
            <td class="detail-title">費用処理：</td>
            <td class="detail-value"><%= @proposal.payment %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4 mx-1">コメント
    <div class="col-md-12 show-comments">
      <% if user_signed_in? && @proposal.users.include?(current_user) %>
        <%= form_with(model: [@proposal, @comment], local: true) do |form| %>
          <%= form.text_area :comment, class: "mt-3 form-control", placeholder: "コメントする", rows: "2" %>
          <%= form.submit "プッシュ", class: "mt-3 mx-2 btn btn-outline-secondary" %>
        <% end %>
        <div class="mt-3 comments_list">
        <div class="comment-title">< コメント一覧 ></div>
        <% @comments.reverse_each do |comment| %>
          <div>
            <div class="mt-2 comment-comment">
              <%= comment.comment %>
            </div>
            <div class="comment-info">
              (<%= comment.user.name %>:<%= comment.created_at.strftime('%Y年%m月%d日') %>)
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="my-3 mx-3">
          <p>※※※ コメントの閲覧/投稿は決裁メンバーのみ可能です ※※※</p>
        </div>
      <% end %>
    </div>  
  </div>
</div>
