<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      法人営業部 第3チーム
    </div>
    <div class="col-md-6 mt-3">
      作成者：<%= @proposal.users[0].name%> さん
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 mt-3 show-header1">
      <table class="mt-2 table table-bordered">
        <tbody>
          <tr>
            <td class="col-3 check-box">
              <% if @proposal.users[1] %>
                <%= @proposal.users[1].position.name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[2] %>
                <%= @proposal.users[2].position.name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[3] %>
                <%= @proposal.users[3].position.name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[4] %>
                <%= @proposal.users[4].position.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="col-3 check-box">
              <% if @proposal.users[1] %>
                <%= @proposal.users[1].name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[2] %>
                <%= @proposal.users[2].name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[3] %>
                <%= @proposal.users[3].name %>
              <% end %>
            </td>
            <td class="col-3 check-box">
              <% if @proposal.users[4] %>
                <%= @proposal.users[4].name %></td>
              <% end %>
            </tr>
          <tr>
            <td class="col-3 check-box">未</td>
            <td class="col-3 check-box">未</td>
            <td class="col-3 check-box">完了</td>
            <td class="col-3 check-box">完了</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7 show-header2">
      <% if user_signed_in? && current_user.id == @proposal.users[0].id %>
        <button type="button" class="mx-2 btn btn-secondary"><%= link_to "編集", edit_proposal_path, class: "user-btn" %></button>
        <button type="button" class="mx-2 btn btn-secondary"><%= link_to '削除', proposal_path(@proposal.id), method: :delete, class: "user-btn" %></button>
      <% end %>
      <button type="button" class="mx-2 btn btn-secondary"><%= link_to "戻る", root_path, class: "user-btn" %></button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">提案書詳細
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="detail-title">タイトル：</td>
            <td class="detail-value"><%= @proposal.title %></td>
          </tr>
          <tr>
            <td class="detail-title">内容：</td>
            <td class="detail-value"><%= @proposal.detail %></td>
          </tr>
          <tr>
            <td class="detail-title">期間：</td>
            <td class="detail-value"><%= @proposal.term_start.strftime('%Y年%m月%d日') %>  -  <%= @proposal.term_end.strftime('%Y年%m月%d日') %></td>
          </tr>
          <tr>
            <td class="detail-title">対象者：</td>
            <td class="detail-value"><%= @proposal.target_group %></td>
          </tr>
          <tr>
            <td class="detail-title">目標：</td>
            <td class="detail-value"><%= @proposal.numeric %></td>
          </tr>
          <tr>
            <td class="detail-title">予算：</td>
            <td class="detail-value"><%= @proposal.budget.to_s(:delimited) %>円（税抜）</td>
          </tr>
          <tr>
            <td class="detail-title">費用処理：</td>
            <td class="detail-value"><%= @proposal.payment %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3 show-comments">
      <%= form_with  do |f| %>
        <div class="field">
          <label for="comment_text">コメント</label>
          <br>
          <input type="text" name="comment[text]" id="comment_text">
        </div>
        <div class="actions">
          <input type="submit" name="commit" value="送信する " class="form_btn" data-disable-with="送信する">
        </div>
      <% end %>
      <ul class="comments_list">
        <li>Hello world! (hoge:2021/01/16 12:22:22)</li>
        <li>Hello world! (hoge:2021/01/16 12:22:22)</li>
        <li>Hello world! (hoge:2021/01/16 12:22:22)</li>
        <li>Hello world! (hoge:2021/01/16 12:22:22)</li>
        <li>Hello world! (hoge:2021/01/16 12:22:22)</li>
        <li>Hello world! (hoge:2021/01/16 12:22:22)</li>
      </ul>
    </div>
  </div>
</div>
